.footer__container {
  background-color: #011627;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  padding: 30px;
}

.footer__container .footer__brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__container .footer__brand .footer__brand__text {
  color: #f6f7f8;
  font-size: 1.5rem;
}

.footer__container .footer__brand .love__text {
  margin-top: 0.8rem;
  color: #f6f7f8;
}

.footer__container .footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer__container .footer__content .footer__text {
  color: #f6f7f8;
  font-size: 0.9rem;
  margin: 8px 0px;
}

.footer__container .footer__content .footer__address {
  color: #f6f7f8;
  font-size: 0.8rem;
  margin: 2px 0px;
  font-weight: 600;
}

.footer__container .footer__content .footer__input {
  padding: 12px 20px;
  margin: 8px 0px;
  border: 2px none;
  background-color: #002d52;
  color: #f6f7f8;
  border-radius: 10px;
  box-sizing: border-box;
}

.footer__container .footer__content .footer__button {
  padding: 12px 30px;
  margin: 8px 2px;
  background-color: #ff3366;
  border: 2px none;
  border-radius: 5px;
  color: #f6f7f8;
  cursor: pointer;
}

@media (max-width: 1260px) {
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__container .footer__content {
    align-items: center;
    grid-row-start: 2;
  }

  .footer__container .footer__brand {
    grid-column: 1 / 4;
    grid-row-start: 1;
    justify-self: stretch;
  }
}

@media (max-width: 730px) {
  .footer__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container .footer__content {
    margin: 15px 0;
    align-items: center;
  }

  .footer__container .footer__content {
    grid-row: auto;
  }

  .footer__container .footer__brand {
    grid-column: auto;
    grid-row: auto;
    justify-self: stretch;
    text-align: center;
  }
}
