.nav__home {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.nav {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #011627;
  position: sticky;
  top: 0;
}

.nav__container {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav__container .nav__item {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  margin: 0 1rem;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  color: rgb(192, 192, 192);
  text-underline-offset: 0.4em;
}

.nav__container .nav__item:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  margin: 0 1rem;
  text-decoration-color: rgba(255, 255, 255, 1);
  color: #f6f7f8;
  cursor: pointer;
}
